/************** GENERAL **************/
input[type="text"] {
	padding: 5px;
	border-radius: 5px;
}

/************** NAVIGATION ***********/
body {
	font-family: Arial;
	background-color: #1d1d1b;
	background-image: url('/public_html/images/background/background.jpg');
	background-attachment: fixed;
}

.container {
	border-radius: 5px;
	margin-top: 160px;
	background-color: #eee;
	padding: 5px;
	margin-top: 160px;
}

.logo {
	width: 150px;
	float: left;
	margin-bottom: 5px;
	margin-top: 24px;
	margin-left: 64px;
	-moz-box-shadow: 0px 0px 10px 0px #000;
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	-o-box-shadow: 0px 0px 10px 0px #000;
	box-shadow: 0px 0px 10px 0px #000;
}

.login {
	margin-top: 37px;
	margin-right: 43px;
	float: right;
}

.login ul li {
	list-style-type: none;
}

.twitch {
	width: 355px;
	height: 200px;
	background-image: url('/public_html/images/logo/iphone.png');
	background-size: 366px;
	margin-left: 69px;
	float: left;
}

.twitch .lecteur {
	margin-left: 51px;
	margin-top: 25px;
}

#navigation {
	border-radius: 5px;
	background-color: #000;
	margin-top: 20px;
	clear: both;
	height: 38px;
	line-height: 38px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	cursor: pointer;
	background-color: #1d1d1b;
	float: left;
	list-style-type: none;
	padding: 0 10px;
	margin: 0 5px;
}

#navigation ul li.first {
	margin-left: 190px;
}

#navigation ul li.active {
	background-color: #eee;
}

#navigation ul li:hover {
	background-color: #eee;
	color: #000;
}

#navigation ul li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	color: #FFF;
}

#navigation ul li:hover a {
	background-color: #eee;
	color: #000;
}

#navigation ul li.active a {
	color: #000;
}

.content {
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
	background-color: #FFF;
	clear: both;
}