/************** GENERAL **************/
input[type="text"] {
	padding: 5px;
	border-radius: 5px;
}

/************** NAVIGATION ***********/
body {
	font-family: Arial;
	background-color: #1d1d1b;
	background-image: url('/public_html/images/background/background.jpg');
	background-attachment: fixed;
}

.container {
	border-radius: 5px;
	margin-top: 160px;
	background-color: #eee;
	padding: 5px;
	margin-top: 160px;
}

.logo {
	width: 150px;
	float: left;
	margin-bottom:5px;
}

.login {
	margin-top: 16px;
	float: right;
}

.login ul li {
	list-style-type: none;
}

#navigation {
	border-radius:5px;
	background-color:#000;
	margin-top:20px;
	clear: both;
	height: 38px;
	line-height: 38px;
	width: 100%;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	cursor: pointer;
	background-color: #1d1d1b;
	float: left;
	list-style-type: none;
	padding: 0 10px;
	margin: 0 5px;
}

#navigation ul li.first {
	margin-left: 254px;
}

#navigation ul li.active {
	background-color:#eee;
	color:#000;
}

#navigation ul li:hover {
	background-color: #eee;
	color: #000;
}

.content {
	border-radius:5px;
	margin-top:5px;
	padding:5px;
	background-color:#FFF;
	clear: both;
}